@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h4 style="text-align:right">فرم‌ها</h4>
</div>
<hr />
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <a style="float:right" href="~/Admin/QualityControlEntries/GetAllQualityControlEntries" class="btn btn-primary btn-sm">کنترل کیفیت</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <a style="float:right" href="~/Admin/MaintenanceLogs/GetAllMaintenanceLogs" class="btn btn-primary btn-sm">نگهداری و تعمیرات پیشگیرانه</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <a style="float:right" href="~/Admin/Products/GetAllProducts" class="btn btn-primary btn-sm">محصولات</a>
    </div>
</div>
